<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<!-- 
生成命令：
java -jar mybatis-generator-core-1.3.1.jar -configfile mybatis-generator.xml  -overwrite
 -->
<generatorConfiguration>
	<!-- 驱动jar包，mssql使用jtds-1.2.jar,mysql使用mysql-connector-java-5.0.8-bin.jar -->
	<classPathEntry location="./mysql-connector-java-5.1.27.jar" />
	<!-- 设置oracle驱动路径 
		<classPathEntry location="./ojdbc14.jar" />
	-->
	<context id="FreeCMS_Tables" targetRuntime="MyBatis3">
		<!-- 数据库链接配置 -->
		<!-- mssql配置 -->
		<!-- 
		<jdbcConnection driverClass="net.sourceforge.jtds.jdbc.Driver"
			connectionURL="jdbc:jtds:sqlserver://localhost:1433/freecms" userId="sa"
			password="sa">
		</jdbcConnection>
		 -->
		
		<!-- mysql配置 -->
		<jdbcConnection driverClass="org.gjt.mm.mysql.Driver"
			connectionURL="jdbc:mysql://localhost:3306/freecms?useUnicode=true&amp;characterEncoding=utf-8" userId="root"
			password="123">
		</jdbcConnection>
		<commentGenerator>
			<!-- 是否注释，false为注释 -->
			<property name="suppressAllComments" value="false" />
			<!-- 是用来除去时间信息的，这在配合类似subversion的代码管理工具时使用很有效，因为可以减少没有必要的注释迁入 -->
			<property name="suppressDate" value="true" />
		</commentGenerator>
		<!-- 默认false，把JDBC DECIMAL 和 NUMERIC 类型解析为 Integer true，把JDBC DECIMAL 和

            NUMERIC 类型解析为java.math.BigDecimal -->

		<javaTypeResolver>
			<property name="forceBigDecimals" value="false" />
		</javaTypeResolver>
		
		<!-- model生成文件的存放位置 -->
		<javaModelGenerator targetPackage="com.dou.book.data.pojo"
			targetProject="./">
			<property name="enableSubPackages" value="true" />
			<property name="trimStrings" value="true" />
		</javaModelGenerator>
		
		<!-- sqlmap生成文件的存放位置 -->
		<sqlMapGenerator targetPackage="com.dou.book.data.mappers"
			targetProject="./">
		<!-- enableSubPackages:是否让schema作为包的后缀 -->
			<property name="enableSubPackages" value="true" />
			<!-- 从数据库返回的值被清理前后的空格 -->
			<property name="trimStrings" value="true" />
		</sqlMapGenerator>

		<!-- dao生成文件的存放位置 -->
		<javaClientGenerator type="XMLMAPPER"
			targetPackage="cn.freeteam.cms.dao"
			targetProject="./">
			<property name="enableSubPackages" value="true" />
		</javaClientGenerator>

		<!-- 要生成的表 -->
		<table tableName="freecms_guestbook"  ></table>
	<!-- oracle 配置主键为sql语句生成
		<table schema="" tableName="TS_ECMS_XSP_DELIVER_GOODS" domainObjectName="GoodsDeliver">
			<generatedKey column="TS_MK_ID" sqlStatement="select '00000000'||sys_guid() FROM DUAL" identity="false" />
		</table>
	 -->
	</context>
</generatorConfiguration>